/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic');
@font-face {
	font-family: 'sfns-display';
	src: url('../fonts/sfns-display.eot');
	src: url('../fonts/sfns-display.woff2') format('woff2'),
		url('../fonts/sfns-display.eot?#iefix') format('embedded-opentype'),
		url('../fonts/sfns-display.woff') format('woff'),
		url('../fonts/sfns-display.ttf') format('truetype'),
		url('../fonts/sfns-display.svg#sfns-display') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Compass extention 
@import 'compass/css3';
@import "core/variable";
@import "core/mixin";
@import "core/reset";
@import "core/header";
@import "core/footer";
@import "core/form";
@import "core/grid";
@import "core/tabs";
@import "core/template";
@import "core/breadcrumb";
@import "core/pagination";
@import "core/slick";
// @import "core/jquery-ui";


/* Header
 ----------------------------------------------------------------------------- */
.header {
	// @include align-self(flex-start);
	position: absolute;
	width: 100%;
	z-index: 10;
	@extend %clear_a;
	.container_center {
		margin-top: 54px;
		margin-bottom: 20px;
	}
	&__logo {
	}
	&__phone {
		margin-top: 7px;
		float: right;
		height: 41px;
		font-family: $main_font_family;
		text-align: right;
		a {
			color: #000000;
			font-size: 31px;
			display: inline-block;
			margin-bottom: 7px;
			@include trs(.3);
			&:hover {
				text-decoration: none;
				opacity: .7;	
			}	
		}
		span {
			display: block;
			color: #8e8e8e;
			font-size: 12px;
			letter-spacing: 0.1em;
		}
	}
	@media (max-width: 1199px) {

	}
	@media (max-width: 991px) {
		.container_center {
			margin: 40px 50px;
		}
	}
	@media (max-width: 767px) {
		overflow: hidden;
		.container_center {
			margin: 0;
			padding: 20px;
			text-align: center;
		}
		&__logo {
			width: 40px;
			display: inline-block;
		}
		&__phone {
			position: absolute;
			top: 20px;
			right: 20px;
			height: auto;
			a {
				font-size: 0;
				&:before {
					content: image-url('icon-phone.svg');
					display: block;
					height: 20px;
					width: 20px;
				}
			}
			span {
				display: none;
			}
		}
	}
}

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: $footer_height;
	background: $footer_bg_color;
	letter-spacing: .01em;
	@include flexbox();
	@include flex-flow(row wrap);
	@include align-self(flex-end);
	@extend %clear_all;
	&>* {
		@include flex-basis(100%);
	}
	.container_center {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&__top {
		margin-top: 20px;
		margin-bottom: 8px;
		&_grid {
			@include flex-flow(row nowrap);
			margin-left: -100px;
			.grid__wrapper {
				padding-left: 100px;
				&:first-child {
					@include flex-basis(41%);
				}
				&:nth-child(2) {
					@include flex-basis(33%);
				}
				&:last-child {
					@include flex-basis(26%);
				}
			}
		}
	}
	&__copy {
		font-size: 15px;
		margin-bottom: 20px;
		color: #000000;
		&_descr {
			color: #848484;
			font-size: 15px;
			line-height: 1.4;
		}
	}
	&__menu {
		@include columns(auto 2);
		@include column-gap(40px);
		li {
			margin-top: 2px;
			margin-bottom: 25px;
			display: inline-block;
			width: 100%;
			vertical-align: top;
			a {
				display: inline-block;
				border-bottom: 1px solid #d1d1d1;
				color: #000000;
				&:hover {
					border-bottom: 1px solid transparent;
					text-decoration: none;
				}
			}
		}
	}
	&__phone {
		color: #000000;
		font-family: $main_font_family;
		letter-spacing: .01em;
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 18px;
		display: block;
		@include trs(.3);
		span {
			color: transparentize(#000, .46);
			font-size: 13px;
			display: block;
			margin-top: -9px;
		}
		&:hover {
			text-decoration: none;
			opacity: .8;
			span {
				// color: transparentize(#000, .26);
			}
		}
	}
	&__email {
		color: #1465c0;
		font-size: 20px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	&__bottom {
		background: $footer_bottom_color;
		padding: 20px 0 20px;
		min-height: 126px;
		font-size: 13px;
		line-height: 1.6;
		color: #818181;
		@include align-self(flex-end);
	}
	@media (max-width: 1199px) {
		&>* {
		}
		.container_center {
		}
		&__top {
			&_grid {
				margin-left: -50px;
				.grid__wrapper {
					padding-left: 50px;
					&:first-child {
						@include flex-basis(30%);
					}
					&:nth-child(2) {
						@include flex-basis(35%);
					}
					&:last-child {
						@include flex-basis(35%);
					}
				}
			}
		}
		&__copy {
			&_descr {
			}
		}
		&__menu {
			li {
				a {
					&:hover {
					}
				}
			}
		}
		&__phone {
			span {
			}
			&:hover {
				span {
				}
			}
		}
		&__email {
			&:hover {
			}
		}
		&__bottom {
		}
	}
	@media (max-width: 991px) {
		&>* {
		}
		.container_center {
			padding-left: 50px;
			padding-right: 50px;
		}
		&__top {
			&_grid {
				margin-left: 0px;
				display: block;
				// @include align-items(space-between);
				.grid__wrapper {
					padding-left: 0px;
					&:first-child {
						float: left;
						max-width: 300px;
					}
					&:nth-child(2) {
						display: none;
					}
					&:last-child {
						float: right;
					}
				}
			}
		}
		&__copy {
			&_descr {
			}
		}
		&__menu {
			li {
				a {
					&:hover {
					}
				}
			}
		}
		&__phone {
			span {
			}
			&:hover {
				span {
				}
			}
		}
		&__email {
			&:hover {
			}
		}
		&__bottom {
		}
	}
	@media (max-width: 767px) {
		height: auto;
		.container_center {
			padding-left: 20px;
			padding-right: 20px;
		}
		&__top {
			margin: 0;
			&_grid {
				margin-left: 0px;
				display: block;
				// @include align-items(space-between);
				.grid__wrapper {
					padding-left: 0px;
					&:first-child {
						float: left;
						max-width: none;
					}
					&:nth-child(2) {
						display: none;
					}
					&:last-child {
						display: none;
					}
				}
			}
		}
	}
}

.line__rgb {
	display: block;
	position: relative;
	background: image-url('color-bord.svg') no-repeat center center;
	background-size: cover;
	height: 142px;
	margin-top: -71px;
	margin-bottom: -70px;
	z-index: 4;
	max-width: 100%;
}

.first__screen {
	background: image-url('first-bg.jpg') no-repeat center center;
	background-size: cover;
	padding-top: 15.6%;
	position: relative;
	// &:after {
	// 	content: image-url('color-bord.svg');
	// 	position: absolute;
	// 	display: block;
	// 	left: 0;
	// 	bottom: 0;
	// 	width: 100%;
	// 	height: 4px;
	// }
	.section__title {
		display: none;
	}
	&_wrap {
		max-width: 620px;
	}
	.btn {
		width: 100%;
		position: relative;
		z-index: 3;
		margin-bottom: 50px;
	}
	@media (max-width: 1199px) {
		padding-top: 200px;
	}
	@media (max-width: 991px) {
		padding-top: 158px;
		&_wrap {
			// max-width: none;
			margin-left: auto;
			margin-right: auto;
		}
		.section__title {
			display: block;
			font-size: 36px;
			max-width: 450px;
			margin: 0 auto 70px auto;
		}
	}
	@media (max-width: 767px) {
		padding-top: 71px;
		.section__title {
			font-size: 22px;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 25px;
			// br {
			// 	display: none;
			// }
		}
		.container_center {
			padding-left: 0;
			padding-right: 0;
		}
		&_wrap {
			// max-width: none;
			background-color: #fff;
			@include border-radius(10px);
			padding: 20px;
		}
		.btn {
			margin-bottom: 0;
		}
	}
	.btn__success {}
}


.calculate__box {
	margin-bottom: 10px;
	&_tab {
		@extend %clear_a;
		&-item {
			position: relative;
			color: #777777;
			padding: 19px 43px;
			float: left;
			font-size: 18px;
			@include border-radius(10px 10px 0 0);
			&.active {
				background-color: #f5f5f5;
				color: #000000;
				@include box-shadow(0 0 41px rgba(0, 0, 0, 0.1));
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					height: 20px;
					width: 100%;
					background-color: #f5f5f5;
					z-index: 2;
				}
			}
		}
	}
	&_wrap {
		@include border-radius(0 10px 10px 10px);
		@include box-shadow(0 0 41px rgba(0, 0, 0, 0.1));
		background-color: #f5f5f5;
		position: relative;
		z-index: 1;
		padding-top: 20px;
	}
	&_row {
		padding: 15px 41px 10px;
	}
	&_label {
		font-size: 25px;
		color: #000000;
	}
	&_slider {
		@extend %clear_a;
		margin-bottom: 0px;
	}
	&_min,&_max {
		font-size: 13px;
		color: #797979;
		letter-spacing: 0;
		font-weight: 500;
	}
	&_min {
		float: left;
	}
	&_max {
		float: right;
	}
	&_bottom {
		background-color: #fff;
		margin-top: 19px;
		padding: 22px 41px 1px;
		@include border-radius(0 0 10px 10px);
	}
	&_bottom_grid {
		margin-left: -30px;
		letter-spacing: .06em;
		&>.grid__wrapper {
			padding-left: 30px;
			position: relative;
			&:first-child {
				.grid {				
					&>* {
						position: relative;
						&:first-child {
							&:after {
								content: '+';
								display: block;
								color: transparentize(#000, .49);
								position: absolute;
								right: -14px;
								top: 20px;
								font-size: 14px;
							}
						}
						&:nth-child(2) {
							&:after {
								content: '=';
								display: block;
								color: transparentize(#000, .49);
								position: absolute;
								right: -14px;
								top: 20px;
								font-size: 14px;
							}
						}
					}
				}
			}
			&:nth-child(2) {
				&:before {
					content: '';
					display: block;
					height: 50px;
					width: 1px;
					left: 10px;
					top: 19px;
					position: absolute;
					background-color: #ddd;
				}
			}
		}
	}
	&_info {
		&_grid {
			.grid__wrapper {
			}
		}
		&-title {
			color: #5e5e5e;
			font-size: 13px;
			text-transform: uppercase;
			margin-bottom: 15px;
			// font-weight: 600;
		}
		&-name {
			color: #5e5e5e;
			font-size: 11px;
			text-transform: uppercase;
			margin-bottom: 8px;
		}
		&-cost {
			color: #000;
		}
	}
	@media (max-width: 1199px) {
		
	}
	@media (max-width: 991px) {

	}
	@media (max-width: 767px) {
		&_label {
			font-size: 18px;
		}
		&_tab {
			display: none;
		}
		&_wrap {
			padding-top: 0;
			@include border-radius(10px);
			background-color: #fff;
			@include box-shadow(none);
		}
		&_row {
			padding: 0;
			margin-bottom: 19px;
		}
		&_bottom {
			position: relative;
			padding: 20px 0 0;
			margin-top: 0;
			&:before {
				content: '';
				display: block;
				left: 0px;
				right: 0px;
				position: absolute;
				top: 0;
				height: 1px;
				background-color: #d8d8d8;
				opacity: 0.41;
			}
			&_grid {
				&>.grid__wrapper {
					padding-bottom: 0;
					@include flex-basis(100%);
					&:nth-child(2) {
						&:before {
							display: none;
						}
					}
					&:first-child {
						.grid {				
							&>* {
								position: relative;
								&:first-child {
									&:after {
										right: -14px;
										top: 17px;
									}
								}
								&:nth-child(2) {
									&:after {
										right: -14px;
										top: 17px;
									}
								}
							}
						}
					}
				}
			}
		}
		&_info {
			&_grid {
				.grid__wrapper {
					padding-bottom: 15px;
				}
			}
			&-title {
				font-size: 11px;
				margin-bottom: 10px;
			}
			&-name {
				font-size: 11px;
				margin-bottom: 5px;
			}
			&-cost {
			}
		}
	}
}

.section__title {
	font-size: 48px;
	text-align: center;
	font-weight: 400;
	@media (max-width: 767px) {
		font-size: 22px;
		margin-bottom: 26px;
	}
}

.how__work {
	background: image-url('how-bg.png') no-repeat right bottom;
	background-size: cover;
	padding: 12.4% 0 11.2%;
	.section__title {
		margin-bottom: 14.6%;
		color: #fff;
	}
	&_grid {
		margin-left: -64px;
		@include flex-flow(row nowrap);
		.grid__wrapper {
			padding-left: 64px;
		}
	}
	&_img {
		margin-bottom: 36px;
	}
	&_name {
		font-size: 24px;
		color: #ffffff;
		margin-bottom: 15px;
	}
	&_text {
		color: #626262;
		font-size: 15px;
		line-height: 24px;
	}
	@media (max-width: 1199px) {
		
	}
	@media (max-width: 991px) {
		&_grid {
			@include flex-flow(row wrap);
			.grid__wrapper {
				@include flex-basis(50%);
			}
		}		
	}
	@media (max-width: 767px) {
		&_grid {
			.grid__wrapper {
				@include flex-basis(100%);
				text-align: center;
			}
		}		
		&_img {
			margin-bottom: 11px;
		}
		&_name {
			font-size: 17px;
			color: transparentize(#fff, .65);
			margin-bottom: 5px;
		}
		&_text {
			display: none;
		}
	}
}

.live {
	padding: 9.7% 0 12.5%;
	background-color: #fff;
	.section__title {
		margin-bottom: 6.2%;
	}
	&__list {
		max-width: 940px;
		margin: 0 auto;
		border-top: 1px solid #ededed;
		&_item {
			display: table;
			width: 100%;
			font-size: 15px;
			border-bottom: 1px solid #ededed;
			&:first-child {
			}
			&>* {			
				display: table-cell;
				vertical-align: middle;
				padding-top: 20px;
				padding-bottom: 21px;
			}
		}
		&_left {
			color: #6b6b6b;
			width: 22%;
		}
		&_center {
			padding-left: 20px;
			padding-right: 20px;
			font-size: 13px;
		}
		&_right {
			width: 13%;
		}
	}
	@media (max-width: 1199px) {
		.section__title {
		}
		&__list {
			&_item {
				&:first-child {
				}
				&>* {			
				}
			}
			&_left {
			}
			&_center {
			}
			&_right {
			}
		}
	}
	@media (max-width: 991px) {
		.section__title {
		}
		&__list {
			&_item {
				&:first-child {
				}
				&>* {			
				}
			}
			&_left {
			}
			&_center {
			}
			&_right {
			}
		}
	}
	@media (max-width: 767px) {
		padding: 20px 0 100px;
		.section__title {
			margin-bottom: 20px;
		}
		&__list {
			&_item {
				position: relative;
				&:first-child {
				}
				&>* {
					display: block;			
				}
			}
			&_left {
				float: right;
				padding: 0;
				font-size: 12px;
				width: 120px;
				margin-top: 10px;
				text-align: right;
			}
			&_center {
				overflow: hidden;
				padding: 10px 10px 10px 0;
				width: initial;
				b {
					display: block;
					font-weight: 400;
				}
			}
			&_right {
				position: absolute;
				right: 0;
				top: 30px;
				float: right;
				padding: 0;
				width: 120px;
				margin-bottom: 10px;
				font-size: 12px;
				text-align: right;
			}
		}
	}
}

.count__line {
	.container_center {
		padding-left: 40px;
		padding-right: 40px;
	}
	&_wrap {
		position: relative;
		max-width: 900px;
		margin: -98px auto -104px;
		padding-top: 10px;
		background-image: linear-gradient(180deg, #eaeaea 0%, #ffffff 100%);
		@include border-radius(10px);
		&:before,&:after {
			content: '';
			position: absolute;
			width: 20px;
			@include border-radius(10px);
			z-index: 1;
			top: 30px;
			bottom: 20px;			
		}
		&:before {
			@include box-shadow(0 20px 30px rgba(0, 0, 0, 0.06), 0 1px 7px rgba(0, 0, 0, 0.04), 0 0 70px #2f8adc);
			background-image: linear-gradient(to top, #1465c0 0%, #42a5f5 100%);
			left: -30px;
		}
		&:after {
			@include box-shadow(0 20px 30px rgba(0, 0, 0, 0.06), 0 1px 7px rgba(0, 0, 0, 0.04), 0 0 70px #f8aa2d);
			background-image: linear-gradient(to top, #ffca28 0%, #ff7043 100%);
			right: -31px;
		}
	}
	&_grid {
		position: relative;
		z-index: 2;
		margin-left: -20px;
		margin-right: -20px;
		@include box-sizing(content-box);
		@include box-shadow(0 20px 30px rgba(0, 0, 0, 0.06), 0 1px 7px rgba(0, 0, 0, 0.04), 0 0 4px rgba(0, 0, 0, 0.31));
		@include border-radius(10px);
		background-color: rgba(255, 255, 255, 0.38);
		background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 43%, #dedede 83%, #f4f4f4 100%);
		padding: 40px 0 30px;
		text-align: center;
		font-size: 15px;
		.grid__wrapper {
			&:nth-child(n+2) {
				border-left: 1px solid #e2e2e2;
			}
		}
	}
	&_number {
		font-weight: 600;
		font-size: 73px;
		margin-bottom: 2px;
		// @include text-shadow(1px 1px rgba(255, 255, 255, 0.5));
		background-image: linear-gradient(180deg, #d6d6d6 27%, #000000 56%, #000000 100%);
		@include background-clip(text); 
		color: rgba(0, 0, 0, 0.57);
	}
	@media (max-width: 1199px) {
		
	}
	@media (max-width: 991px) {
		
	}
	@media (max-width: 767px) {
		.container_center {
			padding-left: 21px;
			padding-right: 21px;
		}
		&_wrap {
			margin: -70px auto -70px;
			padding-top: 0px;
			&:before,&:after {
				top: 10px;
				bottom: 10px;			
			}
			&:before {
				left: -18px;
			}
			&:after {
				right: -18px;
			}
		}
		&_grid {
			padding: 30px 0 13px;
			font-size: 11px;
			margin-left: -10px;
			margin-right: -10px;
			color: #414141;
			.grid__wrapper {
				padding-left: 10px;
				&:nth-child(n+2) {
					border-left: 1px solid transparent;
				}
			}
		}
		&_number {
			font-weight: 400;
			font-size: 30px;
			margin-bottom: 5px;
		}
	}
}

.review {
	padding: 265px 0 7.7%;
	background: image-url('rev-bg.jpg') no-repeat top center;
	background-size: cover;
	.container_center {}
	.section__title {
		color: #fff;
		margin-bottom: 5%;
	}
	&__slider {
		padding-top: 50px;
		&_item {
			color: #fff;
			display: table !important;
			// @extend %clear_a;
			&>* {
				display: table-cell;
				vertical-align: middle;
			}
		}
		&_img {
			padding-right: 21px;
			&_wrap {
				@include border-radius(50%);
				border: 13px solid #ffc747;
				width: 150px;
				height: 150px;
				overflow: hidden;
			}
			img {
				display: block;
			}
		}
		&_name {
			font-size: 36px;
			line-height: 40px;
			padding-right: 30px;
			width: 260px;
		}
		&_city {
			margin-top: -5px;
			font-size: 16px;
			color: rgba(#fff, .62);
		}
		&_text {
			font-size: 18px;
			line-height: 32px;
		}
		.slick {
			&-arrow {
				position: absolute;
				top: -34px;
				font-size: 0;
				border: none;
				background-color: transparent;
				opacity: .5;
				z-index: 10;
				cursor: pointer;
				width: 60px;
				height: 45px;
				outline: 0;
				// @include trs(.3);
				&:before {
					display: block;
				}
				&:hover {
					opacity: 1;
					background: image-url('rev-arrow-hover.svg') no-repeat center center;
				}
			}
			&-prev {
				right: 100px;
				@include rotate(180deg);
				&:before {
					content: image-url('arrow-next.svg');
				}
			}
			&-next {
				right: 0;
				&:before {
					content: image-url('arrow-next.svg');
				}
			}
		}
		&_nav {
			color: #c9e7ff;
			max-width: 450px;
			margin-top: 66px;
			.slick-track,.slick-list {
				width: 100% !important;
				@include transform(translate3d(0px, 0px, 0px) !important);
				text-align: left;
				padding: 0 !important;
			}
			&-item {
				width: 50% !important;
				// float: none;
				display: inline-block !important;
				vertical-align: top;
				padding-left: 30px;
				position: relative;
				// margin-right: 36px;
				margin-bottom: 30px;
				outline: 0;
				cursor: pointer;
				&.slick-current {
					color: #fff;
					font-weight: 600;
					&:before {
						content: '';
						width: 19px;
						height: 2px;
						background-color: #ffca28;
						display: block;
						position: absolute;
						top: 8px;
						left: 0;
					}
				}
			}
			&-name {
				font-size: 15px;
				margin-bottom: 6px;
			}
			&-city {
				font-size: 13px;
			}
		}
	}
	@media (max-width: 1199px) {
		.section__title {
			margin-bottom: 50px;
		}
		&__slider {
			&_nav {
				max-width: none;
				&-item {
					width: auto !important;
					&.slick-current {
						&:before {
							// content: '';
							width: 13px;
							left: 11px;
						}
					}
				}
				&-name {
					font-size: 14px;
				}
				&-city {
					font-size: 13px;
				}
			}
			.slick-arrow {
				// display: none;
				top: -16px;
			}
		}
	}
	@media (max-width: 991px) {
		.section__title {
			margin-bottom: 50px;
		}
		&__slider {
			&_item {				
				@include flexboxImp();
				@include flex-flow(row wrap);
				@include justify-content(center);
				&>* {
					display: initial;
				}
			}
			&_img {
				@include order(2);
				@include align-self(center);
				padding-left: 70px;
			}
			&_name {
				@include order(3);
				@include align-self(center);
				padding-right: 70px;
				width: auto;
				max-width: 260px;
				font-size: 26px;
			}
			&_text {
				@include order(1);
				margin-bottom: 60px;
			}
			&_city {
				font-size: 16px;
			}
			&_nav {
				display: none;
			}
			.slick-arrow {
				// display: none;
				top: initial;
				bottom: 63px;
			}
			.slick-prev {
				right: initial;
				left: 0;
			}
			.slick-next {

			}
		}
	}
	@media (max-width: 767px) {
		background-position: bottom center;
		padding: 150px 0 28px;
		.section__title {
			margin-bottom: 23px;
		}
		&__slider {
			padding-top: 0;
			&_img {
				// @include flex-basis(100%);
				padding-right: 70px;
				margin-bottom: 10px;
			}
			&_name {
				font-size: 17px;
				line-height: 22px;
				padding-left: 70px;
				text-align: center;
				@include flex-basis(100%);
			}
			&_city {
				font-size: 14px;
				line-height: 1;
				margin-top: 4px;
			}
			&_text {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 22px;
			}
			.slick-arrow {
			}
			.slick-prev {
				right: initial;
				left: -18px;
			}
			.slick-next {
				right: -18px;
			}
		}
	}
}

.partners {
	margin: 20px 0;
	.section__title {
		margin-bottom: 5%;
	}
	.container_center {
		padding: 70px 70px 50px;
		background-color: #f6f6f6;
		max-width: 1400px;		
	}
	&__grid {
		.grid__wrapper {
			text-align: center;
		}
		.grid__item {
			min-height: 120px;
			position: relative;
			overflow: hidden;
			border: 1px solid #e7e7e7;
			padding: 10px;
			@include flexbox();
			@include flex-flow(row nowrap);
			@include justify-content(center);
			@include align-items(center);
			@include trs(.3);
			// &:before {
			// 	content: '';
			// 	position: absolute;
			// 	display: block;
			// 	top: 0;
			// 	left: 0;
			// 	right: 0;
			// 	bottom: 0px;
			// 	z-index: 0;
			// 	opacity: 0;
			// 	background-color: #fff;
			// 	@include trs(.3);
			// }
			&:after {
				content: image-url('partner-hover.svg');
				position: absolute;
				display: block;
				right: 0;
				bottom: -3px;
				left: 0;
				z-index: 1;
				opacity: 0;
				@include trs(.3);
			}
			img {
				position: relative;
				z-index: 1;
				display: inline-block;
			}
			&:hover {
				@include box-shadow(0 8px 30px rgba(0, 0, 0, 0.06));
				background-color: #fff;
				border: none;
				&:after {
					opacity: 1;
				}
			}
		}
	}
	@media (max-width: 1199px) {
		margin: 10px;
		.section__title {
		}
		.container_center {
			padding-left: 20px;
			padding-right: 20px;
		}
		&__grid {
			.grid__wrapper {
				@include flex-basis(24.8%);
				&:nth-child(n+9) {
					display: none;
				}
			}
			.grid__item {
				&:after {
				}
				img {
				}
				&:hover {
					&:after {
					}
				}
			}
		}
	}
	@media (max-width: 991px) {
		.section__title {
		}
		.container_center {
		}
		&__grid {
			.grid__wrapper {
				@include flex-basis(33%);
				&:nth-child(n+7) {
					display: none;
				}
			}
			.grid__item {
				&:after {
				}
				img {
				}
				&:hover {
					&:after {
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		margin: 0;
		.section__title {
		}
		.container_center {
			padding-top: 30px;
			padding-bottom: 10px;
		}
		&__grid {
			.grid__wrapper {
				@include flex-basis(49.8%);
			}
			.grid__item {
				&:after {
				}
				img {
				}
				&:hover {
					&:after {
					}
				}
			}
		}
	}
}

.how__step {
	position: relative;
	padding: 9.7% 0 12.5%;
	background-color: #f7f7f7;
	// background-image: image-url('nout-bg.png');
	// background-repeat: no-repeat;
	// background-position: bottom -20px right;
	// background-size: 38%;
	// margin-bottom: -36px;
	position: relative;
	z-index: 5;
	&:before {
		content: '';
		position: absolute;
		right: 0;
		bottom: -27px;
		width: 100%;
		height: 100%;
		max-width: 1400px;
		background: image-url('how-step-bg.png') no-repeat bottom right;
		background-size: 100%;
	}
	.container_center {
		position: relative;
	}
	.section__title {
		margin-bottom: 7%;
	}
	&_tab-nav {
		@include border-radius(10px);
		border: 1px solid transparentize(#1465c0, .8);
		// background-color: #ffffff;
		overflow: hidden;
		margin: 0;
		padding: 0;
		margin-bottom: 11%;
		@extend %clear_a;
		li {
			float: left;
			width: 25%;
			position: relative;
			&:nth-of-type(n+2) {
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 1px;
					top: 14px;
					bottom: 14px;
					left: -1px;
					z-index: 1;
					background-color: #c8d9eb;
				}
			}
			&.active {
				a {
					color: #ffffff;
					background-color: #1465c0;
					border: 0;
					position: relative;
					z-index: 2;
					font-weight: 600;
					&:hover,&:focus,&:active {
						background-color: #1465c0;
						color: #ffffff;
						border: 0;
					}
				}
			}
			a {
				font-size: 19px;
				display: block;
				padding: 20px 15px;
				color: #1465c0;
				text-align: center;
				margin: 0;
				border: 0;
				outline: 0;
				letter-spacing: .03em;
				@include border-radius(0);
				&:hover,&:focus,&:active {
					border: 0;
					text-decoration: none;
				}
				&:hover {
					color: lighten(#1465c0, 10%);
				}
			}
		}
	}
	&_tabs {
		max-width: 490px;
	}
	&_title {
		font-size: 50px;
		color: #000000;
		margin-bottom: 34px;
		font-weight: 900;
		letter-spacing: .08em;
	}
	&_sub {
		font-size: 20px;
		line-height: 34px;
		margin-bottom: 40px;
	}
	&_btn {
		color: #1465c0;
		font-size: 18px;
		padding: 19px;
		width: 100%;
		max-width: 300px;
		@include border-radius(4px);
		border: 1px solid #c8d9eb;
		display: inline-block;
		text-align: center;
		@include trs(.3);
		&:hover {
			text-decoration: none;
			background-color: #1465c0;
			border: 1px solid #1465c0;
			color: #fff;
		}
	}
	@media (max-width: 1199px) {
		padding: 60px 0;
		&:before {
			width: 77%;
			margin-bottom: 42px;
		}
		.container_center {
		}
		.section__title {
			margin-bottom: 60px;
		}
		&_tab-nav {
			margin-bottom: 124px;
			li {
				&:nth-of-type(n+2) {
					&:before {
					}
				}
				&.active {
					a {
						&:hover,&:focus,&:active {
						}
					}
				}
				a {
					font-size: 17px;
					padding: 19px 10px;
					&:hover,&:focus,&:active {
					}
					&:hover {
					}
				}
			}
		}
		&_tabs {
		}
		&_title {
			font-size: 28px;
			line-height: 38px;
			margin-bottom: 20px;
			font-weight: 400;
		}
		&_sub {
			font-size: 17px;
			line-height: 26px;
		}
		&_btn {
			&:hover {
			}
		}
	}
	@media (max-width: 991px) {
		&:before {
		}
		.container_center {
		}
		.section__title {
		}
		&_tab-nav {
			li {
				&:nth-of-type(n+2) {
					&:before {
					}
				}
				&.active {
					a {
						font-weight: 400;
						&:hover,&:focus,&:active {
						}
					}
				}
				a {
					font-size: 15px;
					font-weight: 400;
					padding: 16px 10px;
					&:hover,&:focus,&:active {
					}
					&:hover {
					}
				}
			}
		}
		&_tabs {
			max-width: 50%;
		}
		&_title {
		}
		&_sub {
		}
		&_btn {
			&:hover {
			}
		}
	}
	@media (max-width: 767px) {
		display: none;
		&:before {
		}
		.container_center {
		}
		.section__title {
		}
		&_tab-nav {
			li {
				&:nth-of-type(n+2) {
					&:before {
					}
				}
				&.active {
					a {
						&:hover,&:focus,&:active {
						}
					}
				}
				a {
					&:hover,&:focus,&:active {
					}
					&:hover {
					}
				}
			}
		}
		&_tabs {
		}
		&_title {
		}
		&_sub {
		}
		&_btn {
			&:hover {
			}
		}
	}
}

.callback__box {
	.container_center {
		max-width: 1400px;
	}
	&_grid {
		margin-top: 20px;
		margin-right: -20px;
		margin-left: -40px;
		@include flex-flow(row nowrap);
		@include box-sizing(content-box);
		.grid__wrapper {
			padding-bottom: 0;
			&:first-child {
				@include flex-basis(54%);
			}
			&:last-child {
				@include flex-basis(46%);			
			}
		}
		.grid__item {
			// @include flexbox();
			display: table;
			// @include flexbox();
			width: 100%;
			// @include flexbox();
			height: 100%;;;
		}
	}
	&_form {
		@extend %clear_a;
		background-color: #f7f7f7;
		padding: 115px 57px 100px  70px;
		&-wrap {
			margin-left: -60px;

		}
	}
	&_chose,&_feild-wrap {
		float: left;
		padding-left: 60px;
	}
	&_chose {
		width: 47%;
		&-row {
			@extend %clear_a;
			margin-bottom: 16px;
		}
		&-label {
			font-size: 24px;
			margin-bottom: 9px;
		}
		&-slide {
			&.ui-slider {
				margin: 0 0 5px;
			}
			.ui-slider-handle {
				width: 24px;
				height: 24px;
				margin-left: -12px;
				&:before {
					content: '';
					width: 16px;
					height: 16px;
				}
			}
		}
		&-min,&-max {
			font-size: 11px;
			letter-spacing: .05em;
			color: #797979;
		}
		&-min {
			float: left;
		}
		&-max {
			float: right;
		}
	}
	&_feild-wrap {
		width: 53%;
		input {
			font-size: 16px;
			background-color: transparent;
			padding: 17px 21px;
			width: 100%;
			margin-bottom: 10px;
		}
	}
	&_help {
		padding: 113px 62px 100px;
		background: image-url('krug-bg.jpg') no-repeat right bottom;
		background-size: cover;
		&-text {
			letter-spacing: .05em;
		}
		&-title {
			font-size: 34px;
			margin-bottom: 29px;
		}
		&-phone {
			font-size: 30px;
			color: #000000;
			display: inline-block;
			margin-bottom: 5px;
			&:hover {
				text-decoration: none;
				opacity: .7;
			}
		}
		&-subphone {
			color: transparentize(#000, .46);
			margin-bottom: 30px;
		}
		&-email {
			color: #000000;
			display: inline-block;
			font-size: 18px;
			padding-bottom: 3px;
			border-bottom: 1px solid (transparentize(#000, .89));
			letter-spacing: .1em;
			&:hover {
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}
	.btn {
		@include border-radius(4px);
		background-image: linear-gradient(180deg, #ffc512 0%, #ffac12 100%);
		color: #ffffff;
		font-size: 18px;
		padding: 15px;
		width: 100%;
		@include trs(.3);
		&:hover {
			background-image: linear-gradient(180deg, #ffac12 0%, #ffc512 100%);
		}
	}
	@media (max-width: 1199px) {
		&_grid {
			margin-right: -10px;
			margin-left: -20px;
			margin-top: 10px;
			.grid__wrapper {
				padding-left: 10px;
				&:first-child {
				}
				&:last-child {
				}
			}
			.grid__item {
			}
		}
		&_form {
			padding: 50px;
			&-wrap {
			}
		}
		&_chose,&_feild-wrap {
			width: 100%;
		}
		&_chose {
			&-row {
			}
			&-label {
			}
			&-slide {
				&.ui-slider {
				}
				.ui-slider-handle {
					&:before {
					}
				}
			}
			&-min,&-max {
			}
			&-min {
			}
			&-max {
			}
		}
		&_feild-wrap {
			input {
			}
		}
		&_help {
			padding: 50px;
			&-text {
			}
			&-title {
			}
			&-phone {
				&:hover {
				}
			}
			&-subphone {
			}
			&-email {
				&:hover {
				}
			}
		}
		.btn {
			&:hover {
			}
		}
	}
	@media (max-width: 991px) {
		.container_center {
			padding-left: 10px;
			padding-right: 10px;
		}
		&_grid {
			@include flex-flow(row wrap);
			margin: 10px 0 10px -10px;
			.grid__wrapper {
				@include flex-basis(100% !important);
				&:first-child {
					margin-bottom: 10px;
				}
				&:last-child {
				}
			}
			.grid__item {
			}
		}
		&_form {
			padding: 64px;
			&-wrap {
			}
		}
		&_chose,&_feild-wrap {
			width: 50%;
		}
		&_chose {
			&-row {
			}
			&-label {
			}
			&-slide {
				&.ui-slider {
				}
				.ui-slider-handle {
					&:before {
					}
				}
			}
			&-min,&-max {
			}
			&-min {
			}
			&-max {
			}
		}
		&_feild-wrap {
			input {
			}
		}
		&_help {
			padding: 64px;
			&-text {
			}
			&-title {
			}
			&-phone {
				&:hover {
				}
			}
			&-subphone {
			}
			&-email {
				&:hover {
				}
			}
		}
		.btn {
			&:hover {
			}
		}
	}
	@media (max-width: 767px) {
		.container_center {
			padding: 0;
		}
		&_grid {
			margin-top: 0;
			margin-bottom: 0;
			.grid__wrapper {
				&:first-child {
					margin-bottom: 0;
				}
				&:last-child {
				}
			}
			.grid__item {
			}
		}
		&_form {
			display: none !important;
			&-wrap {
			}
		}
		&_chose,&_feild-wrap {
		}
		&_chose {
			// display: none;
			&-row {
			}
			&-label {
			}
			&-slide {
				&.ui-slider {
				}
				.ui-slider-handle {
					&:before {
					}
				}
			}
			&-min,&-max {
			}
			&-min {
			}
			&-max {
			}
		}
		&_feild-wrap {
			input {
			}
		}
		&_help {
			background: image-url('krug-bg-sm.jpg') no-repeat center;
			background-size: cover;
			padding: 30px;
			text-align: center;
			&-text {
			}
			&-title {
				font-size: 22px;
				margin-bottom: 22px;
			}
			&-phone {
				font-size: 22px;
				&:hover {
				}
			}
			&-subphone {
				font-size: 11px;
				margin-bottom: 20px;
			}
			&-email {
				font-size: 16px;
				&:hover {
				}
			}
		}
		.btn {
			&:hover {
			}
		}
	}
}

.ui-slider {
	margin: 15px 0;
	width: 100%;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -3px;
		height: 6px;
		width: 100%;
		z-index: 1;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.09));
		@include border-radius(3px);
		background-color: #e3e3e3;
		
	}
	&-range {
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -3px;
		height: 6px;
		z-index: 2;
		@include border-radius(3px);
		background-image: linear-gradient(to right, #ffac12 0%, #ff8c12 100%);
	}
	&-handle {
		width: 28px;
		height: 28px;
		background-image: linear-gradient(180deg, #ffc512 0%, #ffac12 100%);
		@include border-radius(50%);
		overflow: hidden;
		display: block;
		// margin-top: -14px;
		margin-left: -14px;
		position: relative;
		outline: 0;
		z-index: 3;
		cursor: grab;
		cursor: -webkit-grab;
		touch-action: none;
		&.ui-state-active {
			cursor: grabbing;
			cursor: -webkit-grabbing;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			@include border-radius(50%);
			top: 4px;
			left: 4px;
			background-image: linear-gradient(to top, #ffc512 0%, #ff9f12 100%);
		}
	}
}



/* Responsive styles
----------------------------------------------------------------------------- */
// max-width: 1200px ===========================================================
@media (max-width: $breakpoint-xlarge) {
}

// max-width: 960px ===========================================================
@media (max-width: $breakpoint-large) {
	
}

// max-width: 760px ===========================================================
@media (max-width: $breakpoint-medium) {
	
}

// max-width: 480px ===========================================================
@media (max-width: $breakpoint-small) {
	
}


// @import 'modal';
