// begin footer 
footer.footer
	.container_center
		div Footer 

	.footer__bottom
		.container_center
			|ООО «Микрокредит» состоит в государственном реестре микрофинансовых организаций ЦБ РФ за номером 2 / 12 / 06 / 72 / 001 299 от 06.02.2014 года. Все материалы, статьи и картинки, расположенные на сайте, являются объектом авторского права и могут быть перепечатаны только при условии разрешения на публикацию от пресс-службы компании.
// end footer 