// begin footer 
footer.footer
	.container_center
		.footer__top
			// begin footer__top_grid
			.grid.footer__top_grid
				.grid__wrapper
					.footer__copy © 2017 ООО «Микрокредит»
					.footer__copy_descr Выдаем займы через интернет. Оформите заявку за 5 минут и заберите деньги возле любой станции метро в пределах Москвы.
				.grid__wrapper
					ul.footer__menu.columns
						li
							a(href="#") Как это работает?
						li
							a(href="#") Статистика
						li
							a(href="#") Отзывы
						li
							a(href="#") Партнеры
						li
							a(href="#") Города
						li
							a(href="#") Другое
				.grid__wrapper
					a(href="tel:8 800 600-78-45").footer__phone 8 800 600-78-45
						span Звонок по России бесплатный
					a(href="mailto:info@microcredit.ru").footer__email info@microcredit.ru
			// end footer__top_grid

	.footer__bottom
		.container_center
			|ООО «Микрокредит» состоит в государственном реестре микрофинансовых организаций ЦБ РФ за номером 2 / 12 / 06 / 72 / 001 299 от 06.02.2014 года. Все материалы, статьи и картинки, расположенные на сайте, являются объектом авторского права и могут быть перепечатаны только при условии разрешения на публикацию от пресс-службы компании.
// end footer 