// begin header 
header.header
	.container_center

		a(href="/").header__logo
			img(src="img/logo.png")

		.header__phone
			a(href="tel:8 800 600-78-45") 8 800 600-78-45
			span Бесплатно по России


// end header 