/* Header
 ----------------------------------------------------------------------------- */

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/* Navbar
-------------------------------------------------------------------------------*/
// .navbar {
// 	overflow: hidden;
// 	text-align: right;
// 	&__item {
// 		display: inline-block;
// 	}
// 	&__link {}
// }
